<div class='max-w-7xl px-6 pb-8 mx-auto mt-20'>
    <footer
      class='py-20 border-t grid grid-cols-2 lg:grid-cols-4 gap-8'>
      <div>
        <h3 class='pb-5 font-semibold leading-6 border-b'>
          Product
        </h3>
        <ul class='mt-6 space-y-4'>
          <li>
            <a
              href='/#features'
              class='leading-6 dark:hover:text-white'
  >Features</a
  >
          </li>
          <li>
            <a
              href='/#pricing'
              class='leading-6 dark:hover:text-white'
  >Pricing</a
  >
          </li>
        </ul>
      </div>
      <div>
        <h3 class='pb-5 font-semibold leading-6 border-b'>
          Support
        </h3>
        <ul class='mt-6 space-y-4'>
          <li>
            <a
              href='#'
              class='leading-6 dark:hover:text-white'>
              Documentation
            </a>
          </li>
          <li>
            <a
              href='#'
              class='leading-6 dark:hover:text-white'
  >Guides</a
  >
          </li>
        </ul>
      </div>
      <div>
        <h3 class='pb-5 font-semibold leading-6 border-b'>
          Company
        </h3>
        <ul class='mt-6 space-y-4'>
          <li>
            <a
              href='#'
              class='leading-6 dark:hover:text-white'
  >About</a
  >
          </li>
          <li>
            <a
              href='/blog'
              class='leading-6 dark:hover:text-white'
  >Blog</a
  >
          </li>
        </ul>
      </div>
      <div>
        <h3 class='pb-5 font-semibold leading-6 border-b'>
          Legal
        </h3>
        <ul class='mt-6 space-y-4'>
          <li>
            <a
              href='#'
              class='leading-6 dark:hover:text-white'
  >Privacy</a
  >
          </li>
          <li>
            <a
              href='#'
              class='leading-6 dark:hover:text-white'
  >Terms</a
  >
          </li>
        </ul>
      </div>
    </footer>
  </div>
  